<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>WHISKEY</string>
	<string>TONTO</string>
	<string>TELEGRAM</string>
	<string>STETSON</string>
	<string>STAMPEDE</string>
	<string>STAGECOACH</string>
	<string>SHOTGUN</string>
	<string>RATTLESNAKES</string>
	<string>POKER</string>
	<string>PIONEER</string>
	<string>OUTLAW</string>
	<string>MINESHAFT</string>
	<string>MARSHALL</string>
	<string>LIVERY</string>
	<string>KANSAS</string>
	<string>HARMONICA</string>
	<string>GUNSLINGER</string>
	<string>GUNPOWDER</string>
	<string>GUNFIGHT</string>
	<string>GOLDRUSH</string>
	<string>GALLOWS</string>
	<string>FRONTIER</string>
	<string>GOLDMINE</string>
	<string>GERONIMO</string>
	<string>BUFFALO</string>
	<string>CATTLE</string>
	<string>CANYON</string>
	<string>CACTUS</string>
	<string>BLACKSMITH</string>
	<string>BOBCAT</string>
	<string>BUCKWHEAT</string>
	<string>BISON</string>
	<string>BARBECUE</string>
	<string>ARIZONA</string>
	<string>APACHE</string>
	<string>BANDIT</string>
	<string>BANDANA</string>
	<string>GREENHORN</string>
	<string>DEADBEAT</string>
	<string>SOUTHERN</string>
	<string>PREACHER</string>
	<string>GOSPEL</string>
	<string>GRANGER</string>
	<string>FANDANGO</string>
	<string>DEADBEAT</string>
	<string>COUNTRY</string>
	<string>RODEO</string>
	<string>PRAIRIE</string>
	<string>PLAIN</string>
	<string>DESERT</string>
	<string>HORIZON</string>
	<string>PILGRIM</string>
	<string>HORSE</string>
	<string>COWGIRL</string>
	<string>SHERIFF</string>
	<string>COWBOY</string>
	<string>RIFLE</string>
	<string>PISTOL</string>
	<string>SALOON</string>
	<string>UKELELE</string>
	<string>TUMBLEWEED</string>
	<string>BANJO</string>
	<string>COYOTE</string>
	<string>CRITTER</string>
	<string>MOONSHINE</string>
	<string>GUITAR</string>
	<string>ALLIGATOR</string>
	<string>MOSQUITO</string>
	<string>TEQUILA</string>
</array>
</plist>
